.imagen {
  opacity: 0.6;
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 0 0 0 10px;
  position: relative;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

input {
  width: 40%;
  height: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #282c34;

}

.section {
  display: flex;
  justify-content: space-between;
  gap: 7vw;
}

button {
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.agregar {
  background-color: rgba(0, 128, 0, 0.876);
}
.eliminar {
  background-color: rgba(255, 0, 0, 0.876);
}
.guardar {
  background-color: rgba(0, 0, 255, 0.876);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 40%;
}

.lista {
  font-size: 20px;
  color: #282c34;
}

